div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}


.footer {
  background-color: #f9fafa;
  border-top: 1px solid #f1f2f3;
  padding: 5% 2%;
  p{ color: #757575;}
  ul {
    list-style: none;
    padding: 0;
    a { color: #757575; text-decoration: none; margin-top: 20px;}
  }
  .btn {
    border-color: #71ac34;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px;
    font-size: 13px;
    letter-spacing: 1.7px;
    font-weight: 600;
    background-color: #71ac34;
    &:hover {
      background-color: white;
      color: #71ac34;
    }
  }
}
