.user-guide {
    padding: 10%;
    border: 2px solid #e5e5e5;
    background-color: white;
    height: 100%;
    position: relative;
    top: 0;
    h4, p { color: rgb(38, 41, 44); }
    &:hover {
        box-shadow: rgba(38, 41, 44, 0.12) 0px 2px 8px 0px;
        top: -7px;
        transition: all 250ms ease-in-out;
        cursor: pointer;
    }
    .link {
        a { text-decoration: none; color: black}
    }
}

.selected {
    font-weight: 700;
}
.side-menu { 
    height: 500px; overflow-y: auto; overflow-wrap: break-word; 
    &::-webkit-scrollbar {
        background-color: #b8dbb7;
        width: 6px;
    }
    &::-webkit-scrollbar-button { display: none;}
    &::-webkit-scrollbar-thumb {
        background-color: #4aa147;
        width: 6px;
    }
    ul {
        list-style-type: none;
        padding-left: 20px;
        a { 
            color: black;
            text-decoration: none;
        }
    }
    .list-head {
        position: relative;
        cursor: pointer;
        ul {
            font-weight: 400 !important;
        }
        &::before {
                position: absolute;
                content: "";
                height: 8px;
                width: 8px;
                top: 10px;
                left: -15px;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                transform: rotate(-45Deg);
                display: block !important;
        }
        // } 
        // @if ul {
        //     background-color: black;
        // }
        .arrow {
            &::before {
                position: absolute;
                content: "";
                height: 9px;
                width: 9px;
                top: 10px;
                left: -15px;
                background-color: white;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                // border-top: 2px solid white;
                transform: rotate(45Deg);
            }
            &:empty::before{  display: none; }
            li.list-head { display: block;}
        }
    }

}

.search {
    .form {
        width: 70%; height: 100%;
        float: right;
        input {
            height: 100%;
            border: 1px solid #71ac34;
            border-radius: 3px;
            width: 100%;
            padding-left: 10px;
        }
    }
}

.function_list {
    background: white;
    th {
        border: 1px solid black;
        text-align: center;
        margin-bottom: 30px;
    }
    td {
        border: 1px solid black;
    }
}
// table {
//     border-collapse: seperate;
//     border-spacing: 10px;
// }
.function_explaination {
    margin-bottom: 20px;
    .container {
        background: #f0ffe0;
        padding-bottom: 20px;
        border: 1px solid rgb(44, 44, 44);
        border-top: none;
        margin-bottom: 20px;
        .heading {
            background: #ffffff;
            padding: 10px 5px;
            margin-bottom: 10px;
        }
        .explaination {
            background: #ffffff;
            margin-bottom: 10px;
            th { border: 1px solid black; text-align: center;}
            td { border: 1px solid grey }
        }
    }
}